<!-- let magnification: any;
for (let i = 0; i < this.data1.length; i++) {
  const calibrationReport = this.data1[i].calibrationReport;
  for (let j = 0; j < calibrationReport.length; j++) {
    const instrument = this.data1[i].calibrationReport[j].instrument;
    for (let k = 0; k < instrument.length; k++) {
      const instrumentReport = instrument[k].instrumentReport;
      for (let k = 0; k < instrumentReport.length; k++) {
        magnification = instrumentReport[k].magnification;
        for (let l = 0; l < magnification.length; l++) {
          const magnificationId = magnification[l].id;
          for (let m = 0; m < this.data2[i].magnification.length; m++) {
            if (this.data2[0].magnification[m].id === magnificationId) {
              console.log(this.data2[0].magnification[l]);
            }
          }
        }
      }
    }
  }
} -->
